/* Global */
* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    width: 100%;
    max-width: 1440px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

.container {
    margin-left: auto;
    margin-right: auto;

    padding-left: 50px;
    padding-right: 50px;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 16px;
}

p {
    font-size: 14px;
}

a {
    color: black;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

/* Header */
header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    padding-left: 20px;
    padding-right: 20px;
}

header .logo img {
    height: 30px;
    margin-top: 20px;
}

header .navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    width: 250px;
}

header .navigation a {
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
    padding-top: 10px;
}

header .navigation .linkalready {
    color: #0065fc;
    border-top: 2px solid #0065fc;
}

header .navigation a:hover {
    color: rgb(0, 179, 255);
    border-top: 2px solid rgb(0, 179, 255);
}

/* Main bloc one */


.rootone {
    margin-top: 50px;
    padding: 20px;
}

/* Bloc titre */

.rootone .premierparagraphe {
    margin: 0;
    margin-bottom: 40px;
}

.rootone .premierparagraphe h1 {
    margin: 0;
    max-width: 100%;
}

.rootone .premierparagraphe p {
    margin: 0;
    max-width: 100%;
}

/* Bloc recherche */

.blocrecherche form {
    width: 100%;
    height: 40px;
    max-width: 600px;
    /* 766px */

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

.blocrecherche form .recherchelogo {
    height: 40px;
    width: 40px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    background-color: #f2f2f2;
    border-radius: 10px 0 0 10px;
}

.blocrecherche form .inputrecheche {
    height: 40px;
    width: 100%;
    border: 0;
    border-top: 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
    padding-left: 20px;
    font-size: 15px;
    font-weight: 600;
}

.blocrecherche form .bouttonrecheche {
    height: 40px;
    min-width: 40px;
    background-color: #0065fc;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    font-size: 15px;
    font-weight: 600;
}

.recherche1 {
    width: 140px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    border: 0;
    border-radius: 0 10px 10px 0;

}

.recherche2 {
    display: none;
    border: 0;
    border-radius: 10px;
}

/* Bloc filtre */

.blocfiltres {
    max-width: 800px;
}

.blocfiltres .filtres {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    grid-template-rows: 30px;
    width: 100%;
}


.blocfiltres .filtres .filtre {
    width: 100%;
    max-width: 347px;
    height: 30px;
    font-weight: 600;
    border: 2px solid #d9d9d9;
    border-radius: 20px;
    padding-left: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
}

.blocfiltres .filtres .filtre:hover {
    background-color: #deebff;
}

.blocfiltres .filtres .filtre i {
    margin-right: 10px;
    color: #0065fc;
}

/* Bloc info */

.blocinfo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    gap: 10px;
}

.blocinfo i {
    font-size: 10px;
    border: 1px solid #f2f2f2;
    border-radius: 20px;
    padding: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}

/* Bloc logements */
/* Global */

.roottwo {
    padding-left: 20px;
    padding-right: 20px;
}

.bloclogements {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    gap: 20px;
}

.bloclogements .logement {
    background-color: white;
    padding: 5px;
    border-radius: 20px;

    box-shadow: 0px 0px 5px rgba(114, 114, 114, 0.5);
}

.bloclogements .bloctitre .titre {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.bloclogements a {
    text-decoration: none;
}

.stars {
    color: #0065fc;
}

.stars .five {
    color: #f2f2f2;
}

/* Bloc de gauche */
.bloclogements .gauche {
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 20px;
}

.bloclogements .gauche .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 250px;
    gap: 15px;
}

.bloclogements .gauche .logement .infos {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: stretch;

}


.bloclogements .gauche img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.bloclogements .gauche .extend {
    margin: 0;
    margin-top: 20px;
}

/* Bloc de droite */

.bloclogements .droite .bloctitre {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    align-content: stretch;
}

.bloclogements .droite .chart {
    float: right;
    color: #0065FC;
}

.bloclogements .droite {
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 20px;
    width: 35%;
}

.bloclogements .droite .grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 150px 150px 150px;
    gap: 15px;
}

.bloclogements .droite .logement a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch;
    gap: 5px;
    width: 100%;
    height: 100%;
}

.bloclogements .droite .logement .infos {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: stretch;
    height: 100%;
    width: 100%;

}

.bloclogements .droite .logement .infos h2 {
    padding: 0;
    margin: 0;
}

.bloclogements .droite .logement .infos p {
    padding: 0;
    margin: 0;

}

.bloclogements .droite .logement .infos .stars {
    padding: 0;
    margin: 0;

}

.bloclogements .droite img {
    min-width: 120px;
    max-width: 120px;
    height: 140px;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}



/* Bloc activités */
.blocactivites {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    border: 2px solid white;
}

.blocactivites a {
    text-decoration: none;
}

.blocactivites .titre {
    padding-bottom: 10px;
}

.blocactivites .activites {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: stretch;
    border: 2px solid white;
}

.blocactivites .activites .activite {
    width: 22%;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(114, 114, 114, 0.5);
}

.blocactivites .activites .activite img {
    object-fit: cover;
    width: 100%;
    height: 400px;
    border-radius: 20px 20px 0 0;
}

.blocactivites .activites .activite h2 {
    margin-left: 20px;
}

footer h2 {
    font-weight: 600;
    font-size: 18px;
}

footer a {
    font-size: 14px;
}

footer {
    background-color: #d9d9d9;
    margin-top: 20px;

    margin-left: 20px;
    margin-right: 20px;
}

footer .grid {
    padding-left: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

footer a {
    text-decoration: none;
}

footer ul {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

footer li {
    margin-top: 15px;
    margin-bottom: 15px;
}

/****** Media queries ***********/

/* Large screens */
@media (min-width: 1440px) {
    .recherche2 {
        display: none;
    }

    body {}

    .blocfiltres {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: stretch;
        gap: 20px;
    }
}

/* Desktop screens */
@media (min-width: 1024px) and (max-width: 1440px) {
    .recherche2 {
        display: none;
    }

    body {}


    .blocfiltres {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: stretch;
        gap: 20px;
    }
}

/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .recherche2 {
        display: none;
    }

    body {}

    /* Bloc logements */
    /* Global */
    .bloclogements {
        flex-direction: column;
    }

    .bloclogements .droite {
        width: auto;
    }

    .bloclogements .droite .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 150px;
    }

    .bloclogements .droite img {
        min-width: 90px;
        max-width: 90px;
    }

    .blocactivites .activites .activite img {
        object-fit: cover;
        width: 100%;
        height: 250px;
        border-radius: 20px 20px 0 0;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.9px) {
    .recherche1 {
        display: none;
    }

    .recherche2 {
        display: block;
    }

    /* Filtre */

    .blocfiltres .filtres {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px 20px;
        grid-template-rows: 30px;
    }

    .blocfiltres .filtres .filtre {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: stretch;
    }

    /* Bloc logements */
    /* Global */
    .roottwo {
        padding: 0;
    }

    .bloclogements {
        flex-direction: column-reverse;
    }

    .bloclogements .gauche {
        width: auto;
        border-radius: 0;
        background-color: white;
    }

    .bloclogements .gauche .grid {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }

    .bloclogements .gauche img {
        height: 150px;
    }

    .bloclogements .gauche .logement {
        padding-bottom: 15px;
        overflow: hidden;
    }

    .bloclogements .gauche .logement .infos {
        padding-left: 10px;
        padding-top: 10px;
    }

    .bloclogements .gauche .logement .infos h2 {
        padding: 0;
        margin: 0;
        margin-bottom: 5px;
    }

    .bloclogements .gauche .logement .infos p {
        padding: 0;
        margin: 0;
        margin-bottom: 5px;

    }

    .bloclogements .gauche .logement .infos .stars {
        padding: 0;
        margin: 0;

    }

    .bloclogements .droite {
        width: auto;
        border-radius: 0;
    }

    .bloclogements .droite .grid {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 150px 150px 150px;
    }

    .bloclogements .droite img {
        min-width: 120px;
        max-width: 120px;
    }

    /* Bloc activités */
    .blocactivites {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        margin-left: 20px;
        margin-right: 20px;
        border: 2px solid white;
    }

    .blocactivites a {
        text-decoration: none;
    }

    .blocactivites .titre {
        padding-bottom: 10px;
    }

    .blocactivites .activites {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: stretch;
        align-content: stretch;
        border: 2px solid white;
        gap: 20px;
    }

    .blocactivites .activites .activite {
        width: 100%;
        border-radius: 20px;
        background-color: white;
        box-shadow: 0px 0px 5px rgba(114, 114, 114, 0.5);
    }

    .blocactivites .activites .activite img {
        object-fit: cover;
        width: 100%;
        height: 200px;
        border-radius: 20px 20px 0 0;
    }

    .blocactivites .activites .activite h2 {
        margin-left: 20px;
    }

    footer {
        background-color: #d9d9d9;
        margin-top: 20px;
    
        margin-left: 20px;
        margin-right: 20px;
    }
    
    footer .grid {
        padding-left: 0;
        margin: 0;
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    footer a {
        text-decoration: none;
    }
    
    footer ul {
        padding-left: 0;
        margin: 0;
        list-style: none;
    }
    
    footer li {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}