/* Global */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "raleway", sans-serif;
}

body {
    width: 100%;
    max-width: 1440px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

.root {
    margin-left: auto;
    margin-right: auto;

    padding-left: 20px;
    padding-right: 20px;
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

p {
    font-size: 16px;
}

a {
    color: black;
    font-size: 16px;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

/* Header */
header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    padding-left: 20px;
    padding-right: 20px;
}

header .logo img {
    height: 30px;
    margin-top: 20px;
}

header nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    width: 250px;
}

header nav a {
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
    padding-top: 10px;
}

header nav .linkalready {
    color: #0065fc;
    border-top: 2px solid #0065fc;
}

header nav a:hover {
    color: rgb(0, 179, 255);
    border-top: 2px solid rgb(0, 179, 255);
}

/* Main bloc one */


.rootone {
    margin-top: 50px;
    padding: 20px;
}

/* Bloc titre */

.rootone .premierparagraphe {
    margin: 0;
    margin-bottom: 40px;
}

.rootone .premierparagraphe h1 {
    margin: 0;
    max-width: 100%;
}

.rootone .premierparagraphe p {
    margin: 0;
    max-width: 100%;
}

/* Bloc recherche */

.blocrecherche form {
    width: 100%;
    height: 40px;
    max-width: 600px;
    /* 766px */

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    border-radius: 20px;
    border-left: 0;
    border-right: 0;
    position: relative;
}

.blocrecherche form .recherchelogo {
    height: 42px;
    width: 50px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    background-color: #f2f2f2;
    border-radius: 10px 0 0 10px;
}

.blocrecherche form .inputrecheche {
    height: 40px;
    width: 100%;
    border: 0;
    padding-left: 20px;
    font-size: 15px;
    font-weight: 600;
}

.blocrecherche form .bouttonrecheche {
    min-width: 40px;
    background-color: #0065fc;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    font-size: 15px;
    font-weight: 600;
}

.recherche1 {
    height: 40px;
    width: 140px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    border: 0;
    border-radius: 0 10px 10px 0;

}

.recherche2 {
    position: absolute;
    right: 0;
    height: 42px;
    display: none;
    border: 0;
    border-radius: 10px;
}

/* Bloc filtre */

.blocfiltres {
    max-width: 800px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.blocfiltres .filtres {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    grid-template-rows: 30px;
    width: 100%;
}


.blocfiltres .filtres .filtre {
    width: 100%;
    max-width: 347px;
    height: 30px;
    font-weight: 600;
    border: 2px solid #d9d9d9;
    border-radius: 20px;
    padding-left: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
}

.blocfiltres .filtres .filtre:hover {
    background-color: #deebff;
}

.blocfiltres .filtres .filtre i {
    margin-right: 10px;
    color: #0065fc;
}

/* Bloc info */

.blocinfo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    gap: 10px;
    
    margin-top: 20px;
    margin-bottom: 20px;
}

.blocinfo i {
    font-size: 10px;
    border: 1px solid #f2f2f2;
    border-radius: 20px;
    padding: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}

/* Bloc logements */
/* Global */

.roottwo {
    padding-left: 20px;
    padding-right: 20px;
}

.bloclogements {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    gap: 20px;
}

.bloclogements .logement {
    background-color: white;
    padding: 5px;
    border-radius: 20px;

    box-shadow: 0px 0px 5px rgba(114, 114, 114, 0.5);
}

.bloclogements .bloctitre .titre {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.bloclogements a {
    text-decoration: none;
}

.stars {
    color: #0065fc;
}

.stars .five {
    color: #f2f2f2;
}

/* Bloc de gauche */
.bloclogements .gauche {
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 20px;
}

.bloclogements .gauche .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 250px;
    gap: 30px;
}

.bloclogements .gauche .logement .infos {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: stretch;

}


.bloclogements .gauche img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.bloclogements .gauche .extend {
    margin: 0;
    margin-top: 20px;
}

.bloclogements .gauche .logement .infos {
    padding-left: 10px;
    padding-top: 10px;
}

.bloclogements .gauche .logement .infos h3 {
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
}

.bloclogements .gauche .logement .infos p {
    padding: 0;
    margin: 0;
    margin-bottom: 5px;

}

/* Bloc de droite */

.bloclogements .droite .bloctitre {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    align-content: stretch;
}

.bloclogements .droite .chart {
    float: right;
    color: #0065FC;
}

.bloclogements .droite {
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 20px;
    width: 35%;
}

.bloclogements .droite .grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 150px 150px 150px;
    gap: 50px;
}

.bloclogements .droite .logement {
    height: fit-content;
}

.bloclogements .droite .logement a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch;
    gap: 5px;
    width: 100%;
    height: 100%;
}

.bloclogements .droite .logement .infos {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: stretch;
    height: 160px;
    width: 100%;
    position: relative;

}

.bloclogements .droite .logement .infos h2 {
    padding: 0;
    margin: 0;
}

.bloclogements .droite .logement .infos p {
    padding: 0;
    margin: 0;

}

.bloclogements .droite .logement .infos .stars {
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 10px;

}

.bloclogements .droite img {
    min-width: 120px;
    max-width: 120px;
    height: 160px;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}



/* Bloc activités */
.blocactivites {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    border: 2px solid white;
}

.blocactivites a {
    text-decoration: none;
}

.blocactivites .titre {
    padding-bottom: 10px;
}

.blocactivites .activites {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: stretch;
    border: 2px solid white;
}

.blocactivites .activites .activite {
    width: 22%;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(114, 114, 114, 0.5);
}

.blocactivites .activites .activite img {
    object-fit: cover;
    width: 100%;
    height: 400px;
    border-radius: 20px 20px 0 0;
}

.blocactivites .activites .activite h2 {
    margin-left: 20px;
}

footer {
    background-color: #d9d9d9;
    margin-top: 50px;

    margin-left: 20px;
    margin-right: 20px;
}

footer .grid {
    padding-left: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

footer .liste {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}


footer a {
    text-decoration: none;
    margin-top: 5px;
    font-size: 18px;
}

footer h1 {
    padding-left: 0;
    list-style: none;
    font-size: 20px;
    font-weight: 600;
}

/****** Media queries ***********/

/* Large screens */
@media (min-width: 1440px) {
    .recherche2 {
        display: none;
    }

    .blocfiltres {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: stretch;
        gap: 20px;
    }
}

/* Desktop screens */
@media (min-width: 1024px) and (max-width: 1440px) {
    .recherche2 {
        display: none;
    }


    .blocfiltres {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: stretch;
        gap: 20px;
    }
}

/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .recherche2 {
        display: none;
    }

    /* Bloc logements */
    /* Global */
    .bloclogements {
        flex-direction: column;
    }

    .bloclogements .droite {
        width: auto;
        height: fit-content;
        padding-bottom: 40px;
    }

    .bloclogements .droite .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 150px;
        gap: 20px;
    }

    .bloclogements .droite img {
        min-width: 90px;
        max-width: 90px;
        height: 150px;
    }

    .blocactivites .activites .activite img {
        object-fit: cover;
        width: 100%;
        height: 250px;
        border-radius: 20px 20px 0 0;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.9px) {

    .root {
        margin-left: auto;
        margin-right: auto;
    
        padding-left: 0;
        padding-right: 0;
    }

    #recherchelogo {
        font-size: 13px;
        background-color: #f2f2f2;
        text-align: center;
        align-items: center;
        padding: 5px;
        object-fit: contain;
        border-radius: 10px 0px 0px 10px;
        border: 2.5px solid #f2f2f2;
    }

    body {
        width: 100%;
        max-width: 1440px;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
    }

    header {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: stretch;
        padding: 0;
    }

    header nav {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: stretch;
        align-content: stretch;
    }

    header nav a {
        width: 50%;
        text-align: center;
        border-bottom: 3px solid #f2f2f2;
        padding-bottom: 10px;
    }

    header nav .linkalready {
        color: #0065fc;
        border-top: none;
        border-bottom: 3px solid #0065fc;
    }

    header nav a:active {
        color: rgb(0, 179, 255);
        border-top: none;
        border-bottom: 3px solid rgb(0, 179, 255);
    }

    header nav a:hover {
        border-top: none;
        border-bottom: 3px solid rgb(0, 179, 255);
    }


    .recherche1 {
        display: none;
    }

    .recherche2 {
        display: block;
    }

    /* Filtre */

    .blocfiltres .filtres {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px 20px;
        grid-template-rows: 30px;
    }

    .blocfiltres .filtres .filtre {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: stretch;
    }

    /* Bloc logements */
    /* Global */
    .roottwo {
        padding: 0;
    }

    .bloclogements {
        flex-direction: column-reverse;
    }

    .bloclogements .gauche {
        width: auto;
        border-radius: 0;
        background-color: white;
    }

    .bloclogements .gauche .grid {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }

    .bloclogements .gauche img {
        height: 150px;
    }

    .bloclogements .gauche .logement {
        padding-bottom: 15px;
        overflow: hidden;
    }

    .bloclogements .gauche .logement .infos {
        padding-left: 10px;
        padding-top: 10px;
    }

    .bloclogements .gauche .logement .infos h2 {
        padding: 0;
        margin: 0;
        margin-bottom: 5px;
    }

    .bloclogements .gauche .logement .infos p {
        padding: 0;
        margin: 0;
        margin-bottom: 5px;

    }

    .bloclogements .gauche .logement .infos .stars {
        padding: 0;
        margin: 0;
    }

    .bloclogements .droite {
        width: auto;
        border-radius: 0;
    }

    .bloclogements .droite .logement {
        position: relative;
        height: 100%;
    }

    .bloclogements .droite .logement .infos {
        height: 100%;
        width: 100%;
        margin-left: 10px;
    }

    .bloclogements .droite .logement .stars {
        position: absolute;
        bottom: 10px;
    }

    .bloclogements .droite .grid {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 150px 150px 150px;
        padding-bottom: 30px;
        padding-left: 0;
        padding-right: 0;
    }

    .bloclogements .droite img {
        min-width: 120px;
        max-width: 120px;
        height: 150px;
    }

    /* Bloc activités */
    .blocactivites {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        margin-left: 20px;
        margin-right: 20px;
        border: 2px solid white;
    }

    .blocactivites a {
        text-decoration: none;
    }

    .blocactivites .titre {
        padding-bottom: 10px;
    }

    .blocactivites .activites {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: stretch;
        align-content: stretch;
        border: 2px solid white;
        gap: 20px;
    }

    .blocactivites .activites .activite {
        width: 100%;
        border-radius: 20px;
        background-color: white;
        box-shadow: 0px 0px 5px rgba(114, 114, 114, 0.5);
    }

    .blocactivites .activites .activite img {
        object-fit: cover;
        width: 100%;
        height: 200px;
        border-radius: 20px 20px 0 0;
    }

    .blocactivites .activites .activite h2 {
        margin-left: 20px;
    }

    footer {
        background-color: #d9d9d9;
        margin-top: 50px;

        margin-left: 20px;
        margin-right: 20px;
    }

    footer .grid {
        padding-left: 0;
        margin: 0;
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    footer .liste {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 10px;
    }

    footer .apropos {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 10px;
    }


    footer a {
        text-decoration: none;
        margin-top: 5px;
        font-size: 18px;
    }

    footer h1 {
        padding-left: 0;
        list-style: none;
        font-size: 20px;
        font-weight: 600;
    }
}